<%= render 'header' %>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                    <h1 class="post-title text-center">
                       We at Noble Records...
                    </h1>
                    <p class="post-subtitle text-center">
                        are looking to bring your thoughts as a musician through the speakers,
                       just as you'd want it to.We value our artists and only want to further their creative scope by giving them the capability of spreading their music. We have worked with countless signer songwriters and bands to really put out good music that matches the ideas in the artists' heads. Through our years of experience in music and audio engineering, we'll make your next record unique, powerful, and most importantly, yours.
                    </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Noble Thomas is our resident audio engineer. Noble has been recording and mixing in the industry for 5 years and is going through CCNY's Sonic Arts Program to further that work. He has worked with many artists for the past few years including Ariana Stefanidis, The Dillon Mansour Trio, and many more.</p>
        </div>
    </div>
</div>